{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <nav class="side">
    <a href="{% url "shop:product_list" %}">All</a>
    {% for c in categories %}
      <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    {% endfor %}
  </nav>

  <article class="page">
    <section class="detail">
      <section class="product">
        <a>
          <img src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static "img/default.jpg" %}
                    {% endif %}">
        </a>
      </section>

      <section class="desc">
        <h2>{{ product.name }}</h2>
        <h3>
          <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
          </a>
        </h3>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" value="Add to cart">
        </form>
        <p><strong>{{ product.price }}K</strong></p>
        <p>{{ product.description|linebreaks }}</p>
      </section>
    </section>
  </article>

{% endblock %}
