{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}
  {% else %}All Products{% endif %}
{% endblock %}

{% block content %}
  <nav class="side">
    <a href="{% url "shop:product_list" %}">All</a>
    {% for c in categories %}
      <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    {% endfor %}
  </nav>

  <article class="page">
    <h2 class="category">
      {% if category %}{{ category.name }}
      {% else %}All{% endif %}
    </h2>

    <div class="content">
      {% for product in products %}
      <figure class="media">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static "img/default.jpg" %}
                    {% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}" class="price">
          {{ product.name }}
          <p>{{ product.price }}K</p>
        </a>
      </figure>
      {% endfor %}
    </div>
  </article>
{% endblock %}
