{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>HOPE | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="{% static 'css/style.css' %}">
  </head>

  <body>
    <header class="logo">
      <h1><a href="#">HOPE</a></h1>
    </header>

    <nav class="menu">
      <a href="#">Collections</a>
      <a href="#">Awareness</a>
      <a href="#">Contact</a>
      {% with total_items=cart|length %}
        {% if total_items > 0 %}
          Your_cart:
          <a class="right" href="{% url "cart:cart_detail" %}">
            {{ total_items }} item{{ total_items|pluralize }},
            Rp {{ cart.get_total_price }}
          </a>
        {% else %}
          Your cart is empty
        {% endif %}
      {% endwith %}
    </nav>

    <main class="row">
      {% block content %}
      {% endblock %}
    </main>

    <footer class="info">
      <p>Contact</p>
    </footer>

  </body>
</html>
